.container {
    width: 55%;
    /* border: 12px solid red; */
    color: white;
    position: absolute;
    top: 23%;
    left: 25%;
}
.box input {
    font-family: 'EB Garamond', serif;
    background: none;
    font-size: 19px;
    padding: 5px 10px;
    width: 77%;
    border: none;
    outline: none;
    color: white;
}